<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div style="text-align:center">
    <app-alert></app-alert>
    <div class="back" *ngIf="IsLoggedIn()">

      <div class="page-header">
        <img width="100%" alt="TramsA6Logo" src="..\assets\logo.png">
      </div>

      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/trams">Trams</a>
        <a routerLink="/login" style="float: right;">Logout</a>
      </nav>
    </div>

    <router-outlet></router-outlet>
    <!-- <app-messages></app-messages> -->
  </div>
</div>
