<div class="grid grid-pad">
  <h4>Trams</h4>
  <div class="col-1-4" *ngFor="let tram of trams">
      <a routerLink="/detail/{{tram.id}}">
        <div class="col-xs-4">
          <div class="thumbnail">
            <img height="200" src="../assets/tram{{tram.no}}.jpg" alt="tram {{tram.no}}">
            <div class="caption">
              <h3>{{tram.no}}</h3>
              <p><span class="glyphicon glyphicon-road"></span>{{tram.route}}</p>
            </div>
          </div>
        </div>
      </a>
  </div>
</div>
